.about {
  padding: 220px 0 220px 0;
  &__title {
    font-weight: 700;
    font-size: 17px;
    text-align: center;
  }
  &__descr {
    font-weight: 300;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 120px 0 120px 0;
  }
}

@media (max-width: 992px) {
.about {
    &__descr {
      font-weight: 300;
      font-size: 27px;
      line-height: 30px;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__descr {
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  .about{
    padding: 60px 0 60px 0;
    &__descr {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
    }
  }
}