.info {
  padding: 120px 0 120px 0;
  background-color: #AA9E54;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
  }
  &__descr {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
  }
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .info {
    &__wrapper {
      justify-content: space-around;
    }
  }
}

@media (max-width: 768px) {
  .info {
    &__wrapper {
      flex-direction: column;
      gap: 60px;
    }
  }
}

@media (max-width: 576px) {

}